# Environnement virtuel
monenv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media/
staticfiles/

# Base de données
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.bak
*.backup
*.cache

# Projet
.sixth/